body, html {
    margin: 0;
    padding: 0;
}

html { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  background-size: cover;
}


/* steps () е функция за синхронизиране, 
 * която ни позволява да прекъснем анимация или преход в сегменти, 
 * а не един непрекъснат преход от едно състояние в друго. */
.smurf{
    position: absolute;
    background-image: url(../img/smurf_sprite.png);
    display: inline-block;
    height: 128px;
    width: 72px;
    top: 75%;
    left: 50%;
    margin-left: -37px;
    animation: walk 1s steps(1) infinite;
}

@keyframes walk {
/** анимирайте Татко Смърф **/
}
